footer {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(getMap($colors, text-color), 0.7);

  & > p {
    color: #fff;
    font-weight: 550;
  }

  & > a {
    color: getMap($colors, text-color);
    font-size: 0.8rem;
    position: absolute;
    right: 5rem;

    &:hover {
      color: #fff;
    }
  }
}
