.products {
  .form {
    width: 95%;
    margin: 0 auto;

    @include mq(large) {
      width: 65%;
    }

    & label {
      &.netPriceLabel {
        cursor: initial;

        &:hover {
          color: getMap($colors, text-color);
        }
      }
    }

    &__group {
      padding: 0.5rem;
      margin: 0.5rem 0;
      background-color: #fff;
      border-radius: $border-radius;

      & > button {
        width: 20%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        margin: 0 1rem;
        border-radius: $border-radius;
        cursor: pointer;
        transition: getMap($transitions, bg-color), getMap($transitions, color);

        &.save:hover {
          background-color: getMap($colors, success-color);
          color: #fff;
        }

        &.close:hover {
          background-color: getMap($colors, danger-color);
          color: #fff;
        }
      }
    }

    &__field {
      width: 95%;
      margin: 0 auto;

      // Dropdown Form Wrapper (Used For Product Price)
      &__wrapper {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &__column {
          display: flex;
          flex-direction: column;

          & .tool {
            height: 2rem;
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            border: 1px solid getMap($colors, text-color);
            border-radius: $border-radius;
            transition: getMap($transitions, border-color);

            &.active {
              border-color: getMap($colors, primary-color);
            }

            &.error {
              border-color: getMap($colors, danger-color);
            }

            & > i {
              height: 100%;
              padding: 0 0.5rem;
              display: flex;
              align-items: center;
              cursor: pointer;

              &.fa-minus {
                border-right: 1px solid getMap($colors, text-color);
                transition: border-right-color 0.15s ease-in,
                  getMap($transitions, color);

                &:hover {
                  color: getMap($colors, primary-color);
                }

                &.active {
                  border-right-color: getMap($colors, primary-color);
                }

                &.error {
                  border-right-color: getMap($colors, danger-color);
                }
              }

              &.fa-plus {
                border-left: 1px solid getMap($colors, text-color);
                transition: border-left-color 0.15s ease-in,
                  getMap($transitions, color);

                &:hover {
                  color: getMap($colors, primary-color);
                }

                &.active {
                  border-left-color: getMap($colors, primary-color);
                }

                &.error {
                  border-left-color: getMap($colors, danger-color);
                }
              }
            }

            & > input {
              height: 100%;
              border: none;
              text-align: center;
            }
          }

          &.netPrice,
          &.updateNetPrice {
            & > p {
              height: 2rem;
              margin: 0.5rem 0;
              padding: 0.5rem;
              display: flex;
              align-items: center;
              background-color: rgba(getMap($colors, text-color-light), 0.5);
              border-radius: $border-radius;
              color: getMap($colors, text-color-light);
            }
          }
        }
      }

      & .oldPrice {
        width: 100%;
        margin: 1rem 0 0.5rem 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        transform: translateY(-1rem);
        visibility: hidden;
        opacity: 0;
        z-index: 9;
        transition: getMap($transitions, visibility),
          getMap($transitions, transform), getMap($transitions, opacity);

        &.active {
          position: static;
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
          z-index: 9;
        }

        &__wrapper {
          width: 45%;
          height: 2rem;
          display: flex;
          align-items: center;
          border: 1px solid getMap($colors, text-color);
          border-radius: $border-radius;
          transition: getMap($transitions, border-color);

          @include mq(large) {
            width: 35%;
          }

          &.active {
            border-color: getMap($colors, primary-color);
          }

          &.error {
            border-color: getMap($colors, danger-color);
          }

          & > input {
            border: none;
            height: 100%;
            text-align: center;
          }

          & > span {
            height: 100%;
            display: flex;
            align-items: center;
            border-left: 1px solid getMap($colors, text-color);
            padding: 0 0.5rem;
            transition: border-left-color 0.15s ease-in;

            &.active {
              border-left-color: getMap($colors, primary-color);
            }

            &.error {
              border-left-color: getMap($colors, danger-color);
            }
          }
        }
      }
    }
  }
}
