@keyframes loadingBounce {
  0% {
    transform: translateY(0rem);
  }

  25% {
    transform: translateY(-0.3rem);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  75% {
    transform: translateY(-0.3rem);
  }

  100% {
    transform: translateY(0);
  }
}
