.form {
  width: 100%;

  & i {
    font-size: 0.8rem;
  }

  & label {
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: getMap($colors, text-color);
    transition: getMap($transitions, color);

    &:hover {
      color: getMap($colors, primary-color);
    }

    &.error {
      color: getMap($colors, danger-color);
    }
  }

  & input {
    &[type="text"] {
      width: 100%;
      height: 2rem;
      margin: 0.5rem 0;
      padding: 0 0.5rem;
      border: 1px solid getMap($colors, text-color);
      border-radius: $border-radius;
      transition: getMap($transitions, border-color);

      &:focus {
        border-color: getMap($colors, primary-color);
      }

      &.error {
        border-color: getMap($colors, danger-color);
      }
    }

    &[type="file"] {
      display: none;
    }
  }

  & textarea {
    width: 100%;
    min-height: 10rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid getMap($colors, text-color);
    border-radius: $border-radius;
    transition: getMap($transitions, border-color);
    resize: vertical;

    &:focus {
      border-color: getMap($colors, primary-color);
    }

    &.error {
      border-color: getMap($colors, danger-color);
    }
  }

  &__group {
    width: 100%;
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.2rem;

    & > h2,
    & > h3 {
      height: 1.5rem;
      display: flex;
      align-items: center;
    }
  }

  &__field {
    width: 100%;
    height: 100%;

    // File Form Field (Used For Product Images)
    &__file {
      width: 100%;
      height: 100%;

      & > label > i {
        margin-right: 0.5rem;
      }

      &__images {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        &__image {
          width: 10rem;
          height: 100%;
          margin: 0.2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          border: 1px solid getMap($colors, text-color-light);
          border-radius: $border-radius;

          & > button {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            background: transparent;
            cursor: pointer;

            &:hover > i {
              color: getMap($colors, danger-color);
            }
          }

          & > img {
            width: 100%;
            height: 10rem;
            padding: 0.3rem;
            object-fit: contain;
          }

          & > span {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
      }
    }

    // Dropdown Form Field
    &__dropdown {
      width: 95%;
      margin: 0.5rem auto;
      display: flex;
      flex-direction: column;
      position: relative;

      &__tab {
        width: 100%;
        height: 2rem;
        margin: 0.5rem 0;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid getMap($colors, text-color);
        border-radius: $border-radius;
        transition: getMap($transitions, border-color);
        cursor: pointer;

        &.active {
          border-color: getMap($colors, primary-color);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.error {
          border-color: getMap($colors, danger-color);
        }
      }

      &__options {
        position: absolute;
        top: calc(100% - 0.5rem);
        left: 0;
        width: 100%;
        border: 1px solid getMap($colors, primary-color);
        border-top: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        z-index: -1;
        background-color: #fff;
        transform: translateY(-1rem);
        visibility: hidden;
        opacity: 0;
        transition: getMap($transitions, transform),
          getMap($transitions, visibility), getMap($transitions, opacity);

        &.active {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
          z-index: 999;
        }

        &.error {
          top: calc(100% - 2.5rem);
          border-color: getMap($colors, danger-color);
        }

        & > p {
          height: 1.5rem;
          margin: 0.5rem;
          padding: 0 0.5rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: getMap($transitions, bg-color),
            getMap($transitions, color);

          &.active {
            background-color: getMap($colors, primary-color);
            color: #fff;
          }

          &:hover {
            background-color: getMap($colors, primary-color);
            color: #fff;
          }
        }
      }
    }
  }

  // Form Switch Btn
  &__switch {
    width: 2rem;
    height: 1rem;
    margin: 0.5rem 0;
    position: relative;
    background-color: rgba(getMap($colors, text-color-light), 0.5);
    border-radius: 2rem;
    cursor: pointer;
    transition: getMap($transitions, bg-color);

    &.active {
      background-color: rgba(getMap($colors, primary-color), 0.5);
    }

    & > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 1rem;
      height: 1rem;
      background-color: getMap($colors, primary-color);
      border-radius: 50%;
      transition: left 0.15s ease-in;

      &.active {
        left: 1rem;
      }
    }
  }

  &__footer {
    width: 100%;
    height: 3rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;

    & > button {
      width: 20%;
      height: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: getMap($colors, secondary-color);
      border-radius: $border-radius;
      color: #fff;
      cursor: pointer;
      transition: getMap($transitions, bg-color), getMap($transitions, color);

      &.save:hover {
        background-color: getMap($colors, success-color);
      }
    }
  }
}
