.products,
.productImages,
.categories,
.dashboard {
  width: 100%;
  min-height: calc(100vh - 3rem);
  margin-top: 3rem;
  transform: scale(0.8);
  opacity: 0;
  transition: getMap($transitions, transform), getMap($transitions, opacity);

  @include mq(large) {
    margin-left: 12.5rem;
    width: calc(100% - 12.5rem);
  }

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  & > h1 {
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: getMap($colors, text-color-light);
  }

  & > p {
    margin: 0 1rem;
  }

  .addBtn {
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
    background-color: getMap($colors, primary-color);
    border-radius: $border-radius;
    cursor: pointer;
    transition: getMap($transitions, bg-color);

    &:hover {
      background-color: getMap($colors, secondary-color);
    }

    & > i,
    & > span {
      color: #fff;
      margin: 0 0.3rem;
    }
  }
}

.dashboard {
  &__header {
    width: 100%;
    padding: 1rem;
  }

  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    @include mq(medium) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }

    &__card {
      width: 15rem;
      height: 7rem;
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      background: getMap($colors, primary-color);

      border-radius: $border-radius;

      & > .info {
        width: 65%;
        height: 100%;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > p,
        & > span {
          color: #fff;
          text-transform: uppercase;
        }

        & > span {
          margin-top: 1rem;
        }
      }

      & > .icon {
        width: 25%;
        height: 45%;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & > i {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          color: getMap($colors, primary-color);
          background: #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

.products,
.categories {
  .form {
    width: 95%;
    margin: 0 auto;

    @include mq(large) {
      width: 65%;
    }

    & label {
      &.netPriceLabel {
        cursor: initial;

        &:hover {
          color: getMap($colors, text-color);
        }
      }
    }

    &__group {
      padding: 0.5rem;
      margin: 0.5rem 0;
      background-color: #fff;
      border-radius: $border-radius;

      & > button {
        width: 20%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        margin: 0 1rem;
        border-radius: $border-radius;
        cursor: pointer;
        transition: getMap($transitions, bg-color), getMap($transitions, color);

        &.save:hover {
          background-color: getMap($colors, success-color);
          color: #fff;
        }

        &.close:hover {
          background-color: getMap($colors, danger-color);
          color: #fff;
        }
      }
    }

    &__field {
      width: 95%;
      margin: 0 auto;

      // Dropdown Form Wrapper (Used For Product Price)
      &__wrapper {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &__column {
          display: flex;
          flex-direction: column;

          & .tool {
            height: 2rem;
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            border: 1px solid getMap($colors, text-color);
            border-radius: $border-radius;
            transition: getMap($transitions, border-color);

            &.active {
              border-color: getMap($colors, primary-color);
            }

            &.error {
              border-color: getMap($colors, danger-color);
            }

            & > i {
              height: 100%;
              padding: 0 0.5rem;
              display: flex;
              align-items: center;
              cursor: pointer;

              &.fa-minus {
                border-right: 1px solid getMap($colors, text-color);
                transition: border-right-color 0.15s ease-in,
                  getMap($transitions, color);

                &:hover {
                  color: getMap($colors, primary-color);
                }

                &.active {
                  border-right-color: getMap($colors, primary-color);
                }

                &.error {
                  border-right-color: getMap($colors, danger-color);
                }
              }

              &.fa-plus {
                border-left: 1px solid getMap($colors, text-color);
                transition: border-left-color 0.15s ease-in,
                  getMap($transitions, color);

                &:hover {
                  color: getMap($colors, primary-color);
                }

                &.active {
                  border-left-color: getMap($colors, primary-color);
                }

                &.error {
                  border-left-color: getMap($colors, danger-color);
                }
              }
            }

            & > input {
              height: 100%;
              border: none;
              text-align: center;
            }
          }

          &.netPrice,
          &.updateNetPrice {
            & > p {
              height: 2rem;
              margin: 0.5rem 0;
              padding: 0.5rem;
              display: flex;
              align-items: center;
              background-color: rgba(getMap($colors, text-color-light), 0.5);
              border-radius: $border-radius;
              color: getMap($colors, text-color-light);
            }
          }
        }
      }

      & .oldPrice {
        width: 100%;
        margin: 1rem 0 0.5rem 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        transform: translateY(-1rem);
        visibility: hidden;
        opacity: 0;
        z-index: 9;
        transition: getMap($transitions, visibility),
          getMap($transitions, transform), getMap($transitions, opacity);

        &.active {
          position: static;
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
          z-index: 9;
        }

        &__wrapper {
          width: 45%;
          height: 2rem;
          display: flex;
          align-items: center;
          border: 1px solid getMap($colors, text-color);
          border-radius: $border-radius;
          transition: getMap($transitions, border-color);

          @include mq(large) {
            width: 35%;
          }

          &.active {
            border-color: getMap($colors, primary-color);
          }

          &.error {
            border-color: getMap($colors, danger-color);
          }

          & > input {
            border: none;
            height: 100%;
            text-align: center;
          }

          & > span {
            height: 100%;
            display: flex;
            align-items: center;
            border-left: 1px solid getMap($colors, text-color);
            padding: 0 0.5rem;
            transition: border-left-color 0.15s ease-in;

            &.active {
              border-left-color: getMap($colors, primary-color);
            }

            &.error {
              border-left-color: getMap($colors, danger-color);
            }
          }
        }
      }
    }
  }
}

.productImages,
.categories {
  .modal {
    &__footer {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.productImages {
  & .table {
    @include mq(large) {
      width: 50%;
      margin: 0 auto;
    }
  }

  & .form {
    width: 75%;
    margin: 0 auto;

    @include mq(large) {
      width: 50%;
    }

    &__group {
      padding: 0.5rem;
      margin: 0.5rem 0;
      background-color: #fff;
      border-radius: $border-radius;
    }
  }
}

.categories {
  .form {
    @include mq(large) {
      width: 35%;
    }

    &__field {
      position: relative;

      & > label {
        position: relative;

        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }

        .tooltip {
          top: 50%;
          left: 7.5rem;
          transform: translateY(-50%);

          & > i {
            color: rgba(getMap($colors, text-color), 0.9);
            left: -0.3rem;
          }
        }
      }
    }
  }
}
