.accountInfo {
  position: relative;
  width: 95%;
  margin: 2rem auto;
  transition: getMap($transitions, transform), getMap($transitions, opacity);

  @include mq(medium) {
    margin-left: 18rem;
    width: calc(100% - 18rem);
  }

  @include mq(large) {
    margin-left: 25rem;
    width: calc(100% - 25rem);
  }

  &__card {
    width: max-content;
    margin: 1rem 0;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid getMap($colors, primary-color);
    border-radius: $border-radius;

    & span {
      margin-left: 0.3rem;
    }

    &.email {
      width: 15rem;
      & > p {
        display: flex;
        flex-direction: column;

        & > span {
          margin-top: 0.5rem;
        }
      }

      & > button {
        width: 75%;
        margin: 0.5rem auto;
        padding: 0.5rem;
        background-color: getMap($colors, primary-color);
        border-radius: $border-radius;
        cursor: pointer;
        transition: getMap($transitions, bg-color);
        color: #fff;

        &:hover {
          background-color: getMap($colors, secondary-color);
        }
      }
    }

    &.address {
      & > button {
        width: max-content;
        padding: 0.5rem;
        margin: 0.5rem 0;
        background-color: getMap($colors, primary-color);
        border-radius: $border-radius;
        transition: getMap($transitions, bg-color);
        cursor: pointer;
        color: #fff;

        &:hover {
          background-color: getMap($colors, secondary-color);
        }
      }
    }
  }

  & > .newAddress {
    & > button {
      padding: 0.5rem;
      background-color: getMap($colors, primary-color);
      border-radius: $border-radius;
      cursor: pointer;
      color: #fff;
      transition: getMap($transitions, bg-color);

      &:hover {
        background-color: getMap($colors, secondary-color);
      }

      & > i {
        color: #fff;
        margin-right: 0.2rem;
      }
    }
  }

  & > button {
    width: max-content;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: getMap($colors, primary-color);
    border-radius: $border-radius;
    transition: getMap($transitions, bg-color);
    cursor: pointer;
    color: #fff;

    &:hover {
      background-color: getMap($colors, secondary-color);
    }
  }
}
