.product {
  width: 100%;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "name name"
    "carousel carousel"
    "rating actions"
    "price actions"
    "state actions"
    "specs specs";

  @include mq(medium) {
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-areas:
      "breadcrumbs breadcrumbs"
      "name name"
      "carousel rating"
      "carousel price"
      "carousel state"
      "carousel actions"
      "carousel actions";
    align-items: center;
    padding: 0 2rem;
  }

  @include mq(large) {
    grid-template-columns: 0.5fr 0.2fr 0.3fr;
    grid-template-areas:
      "breadcrumbs breadcrumbs breadcrumbs"
      "name name name"
      "carousel rating actions"
      "carousel price actions"
      "carousel state actions";
  }

  @include mq(desktop) {
    padding: 0 5rem;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
    width: 100%;
    height: 2rem;
    margin-top: -3rem;
    display: flex;
    align-items: center;
    background-color: rgba(getMap($colors, text-color-light), 0.3);
    list-style-type: none;

    @include mq(medium) {
      background-color: transparent;
    }

    & > li {
      position: relative;
      padding: 0 0.5rem;

      &::after {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: -0.5rem;
        transform: translateY(-50%);
        color: getMap($colors, text-color);
      }

      @include mq(medium) {
        &::after {
          content: "/";
          right: -0.3rem;
        }
      }

      &:last-child::after {
        display: none;
      }

      & > a:hover {
        color: getMap($colors, primary-color);
      }
    }
  }

  &__name {
    grid-area: name;
    width: 100%;
    padding: 0 0.5vw;

    & > h1 {
      padding: 0.5rem 0;
      font-size: 1.1rem;
      letter-spacing: 0.15rem;

      @include mq(medium) {
        font-size: 1.5rem;
      }

      @include mq(large) {
        font-size: 1.5rem;
      }
    }
  }

  & .carousel {
    grid-area: carousel;
  }

  &__rating {
    grid-area: rating;
    width: 100%;
    height: 2rem;
    padding: 0 3vw;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    @include mq(medium) {
      justify-content: center;
    }

    & > a > i {
      color: getMap($colors, star-color);
      font-size: 1rem;
    }
  }

  &__price {
    grid-area: price;
    width: 100%;
    padding: 0 3vw;
    display: flex;
    flex-direction: column;

    @include mq(medium) {
      align-items: center;
    }

    & > p {
      display: flex;
      align-items: flex-start;
      margin: 0 0.5rem;

      &.oldPrice {
        text-decoration: line-through;
        color: getMap($colors, text-color-light);

        &.hidden {
          display: none;
        }
      }

      &.newPrice {
        color: getMap($colors, danger-color);

        & > span {
          font-size: 1.05rem;
          font-weight: 1000;
        }
      }

      & > span {
        font-size: 0.9rem;
      }

      & > sup {
        font-size: 0.65rem;
      }
    }
  }

  &__state {
    grid-area: state;
    width: 100%;
    padding: 0 3vw;
    margin: 0.5rem 0;

    @include mq(medium) {
      display: flex;
      justify-content: center;
    }

    & > p {
      height: 100%;
      display: flex;
      align-items: center;

      & > span {
        padding: 0 0.5rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        color: #fff;

        &.goodState {
          background-color: getMap($colors, success-color);
        }

        &.badState {
          background-color: getMap($colors, danger-color);
        }
      }
    }
  }

  &__actions {
    grid-area: actions;
    width: 100%;
    padding: 0 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__cartBtn,
    &__favoriteBtn {
      width: 100%;
      margin: 0.5rem 0;

      & > button {
        width: 95%;
        height: 2.5rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        background-color: getMap($colors, primary-color);
        border-radius: $border-radius;
        transition: getMap($transitions, bg-color);

        &:hover {
          background-color: getMap($colors, secondary-color);
        }

        &.active {
          background-color: getMap($colors, secondary-color);
        }

        &::before {
          font-family: FontAwesome;
          font-size: 1.3rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0.5rem;
          z-index: 9;
        }

        &.addToCart::before {
          content: "\f07a";
          color: #fff;
        }

        &.addToFav::before {
          content: "\f08a";
          color: getMap($colors, danger-color);
          font-weight: 1000;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 2.5rem;
          height: 100%;
          background-color: getMap($colors, secondary-color);
          border-bottom-right-radius: 65%;
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        &:hover::after {
          background-color: getMap($colors, primary-color);
        }

        &.active::after {
          background-color: getMap($colors, primary-color);
        }

        & > span {
          color: #fff;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.productFixedNavigation {
  display: none;

  @include mq(large) {
    display: flex;
    width: 100%;
    height: 3rem;
    position: sticky;
    bottom: 0;
    background-color: getMap($colors, primary-color);

    & > ul {
      width: 100%;
      height: 100%;
      padding: 0 1vw;
      display: flex;
      align-items: center;

      & > li {
        padding: 0.5rem;
        margin: 0 0.5rem;
        transition: getMap($transitions, bg-color);
        border-radius: $border-radius;

        &:hover {
          background-color: getMap($colors, secondary-color);
        }

        & > a {
          color: #fff;
        }
      }
    }
  }
}

.productDescription {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @include mq(medium) {
    padding: 0 2rem;
  }

  @include mq(desktop) {
    width: 75%;
    padding: 0 5rem;
  }

  & > a {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    color: getMap($colors, text-color);

    &:hover {
      color: getMap($colors, text-color);
    }
  }

  & > h2 {
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__group {
    width: 100%;
    height: 100%;

    & > h2 {
      width: 100%;
      padding: 0.5rem 0;
    }

    & > img {
      width: 100%;
      height: 25rem;
      object-fit: contain;
    }

    & > p {
      width: 100%;
      padding: 0.5rem 0;
      line-height: 1.5;
      letter-spacing: 0.05rem;
    }
  }
}

.productSpecifications {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include mq(medium) {
    padding: 0 2rem;
  }

  @include mq(desktop) {
    width: 75%;
    padding: 0 5rem;
  }

  & > a {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    color: getMap($colors, text-color);

    &:hover {
      color: getMap($colors, text-color);
    }
  }

  & > table {
    border: 1px solid rgba(getMap($colors, text-color-light), 0.3);
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;

    & tr {
      border-bottom: 1px solid rgba(getMap($colors, text-color-light), 0.3);

      &:nth-child(even) {
        background-color: rgba(getMap($colors, text-color-light), 0.3);
      }
    }

    & td {
      width: 50%;
      padding: 0.5rem;
      border-right: 1px solid rgba(getMap($colors, text-color-light), 0.3);
    }
  }
}
